/* || RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || GENERAL STYLES */
html {
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-image: url(./images/todo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

#add-task-container {
  width: 35rem;
  padding: 0.5rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 5px;
  box-shadow: 0 0 2px;
  display: flex;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  flex: 1;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  padding: 0.5em 0.7em;
}

input:focus {
  outline: 2px solid rgba(0, 128, 0, 0.55);
}

#add-task {
  all: unset;
  font-size: 1rem;
  padding-inline: 2em;
  border-radius: 5px;
  border: 2px solid rgba(0, 128, 0, 0.55);
  color: rgba(0, 128, 0, 0.7);
  transition: 0.5s;
}

#add-task:hover {
  background-color: rgba(0, 128, 0, 0.55);
  color: white;
}

.task {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 5px;
  box-shadow: 0 0 2px;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.task li {
  padding: 0.5rem 0.5rem;
  list-style: none;
  flex: 1;
}

.task button {
  font-size: 1rem;
  padding: 0.5em 0.7em;
  border-radius: 5px;
  background-color: transparent;
}

.check-button {
  border: 2px solid rgba(128, 0, 128, 0.55);
  color: rgba(128, 0, 128, 0.7);
  transition: 0.5s;
  margin-right: 0.2rem;
}

.delete-button {
  border: 2px solid rgba(255, 0, 0, 0.55);
  color: rgba(255, 0, 0, 0.7);
  transition: 0.5s;
  font-size: 1rem;
}

.check-button:hover {
  background-color: rgba(128, 0, 128, 0.55);
  color: white;
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.55);
  color: white;
}
