@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* || RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || GENERAL STYLES */
html {
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-image: url(./images/faq.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

main {
  width: 65%;
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
}

.accordion-title {
  margin-bottom: 1em;
  font-size: 1.8rem;
  text-align: center;
}

.question {
  padding: 0.8em 0;
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom: 1px solid black;
  position: relative;
}

.question::after {
  content: "+";
  font-size: 1.5rem;
  position: absolute;
  right: 0px;
}

.answer {
  padding-top: 1rem;
  line-height: 1.5;
  width: 100%;
  height: 0rem;
  overflow: hidden;
  transition: 0.5s;
}

.active .answer {
  height: 10rem;
}

.active .question::after {
  content: "-";
  transition: 0.5s;
}
